$links-color-hover: #c3c8ce; 
$logo-text-color: #fff;
$profile-links-color: #c7cacf;
$profile-links-color-hover: #b1b4b9;
$slash-color: #515555;
$stages-color: #307abe;
$date-and-place-text-color: #7a7d82;
$header-background-mobile: #272b34;
$tabs-hover: #d9d9d9;
$table-text-color: #c1c7ce;
$table-green-text-color: #1e9117;
$table-rows-color: #25282c;
$table-head-color: #6e737a;
$table-country-color: #888c95;

.header {
	&-nav {
		display: grid;
		grid-template-columns: auto 1fr auto;

		@include respond(phone) {
			grid-template-columns: auto auto;
			justify-content: space-between;
			background-color: $header-background-mobile;
			margin: -1.5rem -3rem;
			padding: 1.5rem 3rem;
		}



		&__company {
			display: flex;
			align-items: center;
			column-gap: 1.2rem;

			&__logo {
				width: 3.2rem;
				height: 3.2rem;
				background-color: $gray;
				border-radius: 100%;
				object-fit: cover;
			}

			&__name {
				color: $logo-text-color;
				font-size: 1.6rem;

				@include respond(tab) {
					display: none;
				}
			}
		}

		&__links {
			display: flex;
			align-items: center;
			margin: -1.5rem 0 -1.5rem 10rem;
			color: $secondary-text-color;

			@media screen and (max-width: 1064px) {
				margin: -1.5rem 0 -1.5rem 6rem;
			}

			@include respond(tab) {
				justify-content: center;
				margin: -1.5rem 0 -1.5rem 0rem;
			}

			@include respond(phone) {
				display: none;
			}

			li {
				height: 100%;

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					text-transform: uppercase;

					font-size: 1.5rem;
					color: inherit;
					height: 100%;
					padding: 0 2rem;

					border-bottom-left-radius: 1rem;
					border-bottom-right-radius: 1rem;

					transition: all .3s ease 0s;

					&:hover {
						background-color: $dark-gray;
						color: $links-color-hover;
					}
				}
			}

		}

		&__profile{
			display: flex;
			align-items: center;
			column-gap: 1.7rem;

			&__links {
				display: flex;

				li {
					display: flex;
					align-items: center;

					&:not(:last-child)::after {
						content: "";
						display: inline-block;
						height: 1.7rem;
						background-color: $profile-links-color;
						width: .1rem;
						margin: 0 .7rem;
					}

					a {
						color: $profile-links-color;
						font-size: 1.6rem;
						transition: all .3s ease 0s;

						&:hover {
							color: $profile-links-color-hover;
						}
					}
				}


			}

			&__avatar {
				width: 3rem;
				height: 3rem;
				border-radius: 100%;
				object-fit: cover;
			}
		}
	}
}

.wrapper {
	display: grid;
	grid-template-columns: 30% 1fr;
	overflow: hidden;

	@include respond(tab) {
		grid-template-columns: 1fr;
	}

	.aside {
		&__stages {
			display: flex;
			align-items: center;
			margin: 3rem 0;

			@include respond(tab) {
				margin-top: 5rem;
			}
	
			li {
				display: flex;
				align-items: center;
				font-size: 2rem;
				color: $stages-color;
				white-space: nowrap;
	
				&:not(:last-child)::after {
					content: "";
					display: inline-block;
					height: 2rem;
					background-color: $slash-color;
					width: .1rem;
					margin: 0rem .7rem 0 1.2rem;
					transform: rotate(30deg);
				}
			}
		}
	
		&__competition {
			color: #fff;
			font-size: 4rem;
			font-weight: 530;
			letter-spacing: .5rem;
			margin-bottom: 2rem;
			line-height: 5rem;
		}
	
		&__place-and-date {
			display: flex;
			align-items: center;
			column-gap: 1rem;
	
			&__flag {
				width: 3.7rem;
				height: 2.5rem;
				object-fit: cover;
			}
	
			&__text {
				color: $date-and-place-text-color;
				margin: 0;
				font-size: 2.1rem;
				letter-spacing: .1rem;
			}
		}
	
		&__nav {
			margin-top: 3rem;

			@include respond(tab) {
				display: none;
			}
	
			&__links {
				display: flex;
				flex-direction: column;
	
				li {
					width: 70%;
					a {
						display: flex;
						align-items: center;
	
						font-size: 2.3rem;
						color: inherit;
						padding: 1rem 1.5rem;
	
						border-radius: 1rem;
	
						transition: all .3s ease 0s;
	
						&:hover {
							background-color: $block-color;
						}
					}
				}

				&_active {
					background-color: $block-color;
				}
	
				&_mb {
					margin-top: 4rem;
				}
			}
		}

		.aside__nav-mobile {
			display: none;
			margin-top: 2.3rem;

			@include respond(tab) {
				display: block;
			}

			&__menu {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			h2 {
				font-size: 3.2rem;
			}

			&__burger {
				position: relative;
				width: 3rem;
				height: 3rem;
				cursor: pointer;

				span {
					display: inline-block;
					height: 0.2rem;
					width: 100%;
					background-color: $main-text-color;
					position: absolute;
					left: 0;
					top: 1.4rem;
				}	

				&::before, &::after {
					content: "";
					left: 0;
					position: absolute;
					display: inline-block;
					height: 0.2rem;
					width: 3rem;
					background-color: $main-text-color;
					transition: all .3s ease 0s;
				}

				&::before {
					top: .4rem;
				}

				&::after {
					bottom: .4rem;
				}

				&.active {
					span {
						display: none;
					}

					&::before {
						transform: rotate(45deg);
						top: 1.4rem;
					}

					&::after {
						transform: rotate(-45deg);
						bottom: 1.4rem;
					}
				}
			}

			&__links {
				display: flex;
				flex-direction: column;
				margin-top: 1.3rem;
				overflow: hidden;
				transition: all .3s ease 0s;
				transform: scaleY(0);
				transform-origin: top;
				height: 0;

				&.active {
					visibility: visible;
					transform: scaleY(1);
					height: 100%;
				}
	
				li {
					height: 100%;
					width: 100%;
					a {
						display: flex;
						align-items: center;
	
						font-size: 2.3rem;
						color: inherit;
						height: 100%;
						padding: 1rem 1.5rem;
	
						border-radius: 1rem;
	
						transition: all .3s ease 0s;
	
						&:hover {
							background-color: $block-color;
						}
					}
				}
	
				&_mb {
					margin-top: 4rem;
				}
			}
		}
	}

	.main {
		margin-bottom: 1.5rem;

		&-header {
			margin-top: 10rem;
			&__title {
				font-size: 8rem;
				color: $dark-blue;
				font-weight: 700;
				letter-spacing: 1.5rem;
				white-space: wrap;

				@media screen and (max-width: 1154px) {
					font-size: 5rem;
				}
			}

			&__tabs {
				display: flex;
				margin-top: 3rem;

				li {
					font-size: 2rem;
					width: fit-content;

					a {
						padding: .7rem 2rem;
						color: inherit;
						white-space: nowrap;
						transition: all .3s ease 0s;
						border-radius: .5rem;

						&:hover {
							background-color: $tabs-hover;
							color: $main-bg;
						}

						&.main-header__tabs_active {
							background-color: $tabs-hover;
							color: $main-bg;
					  }
					}	
				}
			}

			@include respond(tab) {
				display: none;
			}
		}

		.tables-desktop {
			display: flex;
			flex-direction: column;
			row-gap: 2rem;
			
			margin-top: 1.5rem;
			overflow: auto;
			transition: all .3s ease 0s;

			@media screen and (max-width: 1440px) {
				max-width: 85rem;		
			}

			@media screen and (max-width: 1260px) {
				max-width: 75rem;		
			}

			@media screen and (max-width: 1070px) {
				max-width: 70rem;		
			}

			@include respond(tab) {
				display: none;
			}

			.table {
				width: 100%;
				overflow: auto;

				border-radius: 1rem;
				background-color: $block-color;
				padding: 2rem;
				width: 100%;
				height: fit-content;

				&-header {
					display: flex;
					align-items: center;
					justify-content: space-between;

					&__title {
						color: $table-text-color;
						font-size: 2.2rem;
					}

					&__text {
						color: $table-text-color;
						font-size: 1.7rem;
					}
				}

				&-wrapper {
					width: 100%;
					overflow-x: auto;

				}

				&-main {
					width: 100%;
					min-width: 93rem;
					margin-top: 1.5rem;
					border-collapse: collapse;
					text-align: center;
					border-top: none;
					overflow: scroll;
					height: fit-content;

					&__head {
						font-size: 1.5rem;
						color: $table-head-color;
						padding: .7rem 0;
					}

					&__body {
						text-align: center;
						

						&__info {
							display: grid;
							grid-template-columns: auto 1fr auto;
							align-items: center;
							padding: .7rem .2rem;

							&__flag {
								display: flex;
								column-gap: 1rem;
								align-items: center;

								img { 
									width: 3.2rem;
									height: 2rem;
									object-fit: cover;
								}

								h5 {
									font-size: 2rem;
									color: $table-country-color;
								}
							}

							p {
								font-size: 2rem;
								margin-left: 1.5rem;
								text-align: left;
							}

							small {
								font-size: 1.5rem;
								color: $table-head-color;
								margin-right: 0.5rem;
							}
						}

						td {
							border: 1px solid $table-rows-color;

							&:first-child {
								border-left: none;
							}

							&:last-child {
								border-right: none;
							}
						}

						&__data {
							

							font-size: 1.6rem;
							color: $table-text-color;
							padding: .7rem .2rem;
							min-width: 1.5rem;
							&_green {
								color: $table-green-text-color;
							}
						}

						.green-circle {
							display: block;
							width: 1.2rem;
							height: 1.2rem;
							background: rgb(16,255,0);
							background: radial-gradient(circle, rgba(16,255,0,1) 78%, rgba(63,140,63,1) 100%);
							border-radius: 100%;
							margin: 0 auto;
						}
					}
				}
			}
		}

		.tables-mobile {
			margin-top: 1.5rem;
			display: none;

			@include respond(tab) {
				display: flex;
				flex-direction: column;
				row-gap: 2rem;
			}

			.table {
				background-color: $block-color;
				padding: 2rem;
				width: 100%;
				height: fit-content;
				border-radius: 1rem;

				&-header {
					display: flex;
					flex-direction: column;
					row-gap: 2rem;
					&__row {
						display: grid;
						grid-template-columns: max-content 1fr;
						align-items: end;
						column-gap: 1.5rem;

						h3 {
							color: $table-text-color;
							font-size: 2.5rem;
						}

						p {
							color: $table-text-color;
							font-size: 1.7rem;
							line-height: 1.5;
						}

						&:last-child {
							align-items: flex-start;
						}
					}
				}

				&-main {
					width: 100%;
					height: fit-content;
					margin-top: 3rem;
					
					.navigation {
						display: grid;
						grid-template-columns: auto 1fr auto;
						align-items: center;

						&__prev, &__next {
							border: solid $main-text-color;
  							border-width: 0 .4rem .4rem 0;
  							display: inline-block;
  							padding: 1rem;
							cursor: pointer;
							background: transparent;
						}

						&__prev {
							transform: rotate(135deg);
						}

						&__next {
							transform: rotate(-45deg);
						}

						&__circles {
							display: flex;
							justify-content: center;
							column-gap: 2rem;
							align-items: center;
						}

						&__circle {
							width: 1rem;
							height: 1rem;
							background-color: #1f1f1f;
							border-radius: 100%;

							&_active {
								width: 1.5rem;
								height: 1.5rem;
								background-color: #fff;
							}
						}
					}

					.slider-container {
						overflow: hidden; 
						position: relative;
					}

					&__slides {
						margin-top: 3rem;
						display: flex;
						width: 100%;
						height: fit-content;
						transition: all .3s ease-in-out 0s;
					}

					&__slide {
						flex: 0 0 100%;
						padding: 2rem;
						box-sizing: border-box;
						transition: all .3s ease-in-out 0s;
						width: 10rem;
						overflow: auto;

						@media screen and (max-width: 500px) {
							padding: 2rem 1rem;
							white-space: nowrap;
						}


						.countries {
							.country {
								display: grid;
								grid-template-columns: auto 1fr;
								grid-template-rows: auto auto;
								grid-template-areas: 
								'number name'
								'. flag';
								column-gap: 2rem;
								row-gap: 1rem;

								border-top: .1rem solid $table-rows-color;
								padding-top: .6rem;
								padding-bottom: .5rem;
								align-items: center;
	
								small {
									grid-area: number;
									color: $table-head-color;
									font-size: 1.7rem;
								}
	
								h5 {
									grid-area: name;
									font-size: 2.2rem;
								}
	
								.flag {
									grid-area: flag;
									
									display: flex;
									align-items: center;
									column-gap: 1rem;
	
									img { 
										width: 3.2rem;
										height: 2rem;
										object-fit: cover;
									}
	
									p {
										font-size: 2.2rem;
										color: $table-country-color;
									}
								}
							}
						}		

						.table-competition-1 {
							width: 100%;
							margin-top: 1rem;
							border-collapse: collapse;
							height: fit-content;
							min-width: 40rem;
							

							@media screen and (max-width: 600px) {
								margin-top: 0.5rem;
							}

							@media screen and (max-width: 440px) {
								margin-top: 0;
							}

							&__row {
								position: relative;
							}

							&__head, &__number {
								font-size: 1.5rem;
								color: $table-head-color;
								padding: .7rem 0;
							}

							&__number {
								width: 1.5rem;
							}

							&__data {
								font-size: 1.6rem;
								color: $table-text-color;
								padding: .7rem .2rem;
								height: 6rem;
								position: relative;
								width: fit-content;

								@media screen and (max-width: 475px) {
									height: 7rem;
								}

								span {
									position: absolute;
									bottom: .8rem;
  									left: 50%;
  									transform: translateX(-50%);
								}

								&_green {
									color: $table-green-text-color;
								}

								&_empty {
									background-color: $header-background-mobile;
								}


								&.bordered {
									border: 1px solid $table-rows-color;
								}
							}

							&__name {
								position: absolute;
								top: .5rem;
								left: 3%;
								color: $main-text-color;
								font-size: 2rem;

								@media screen and (max-width: 600px) {
									left: 5%;
								}

								@media screen and (max-width: 440px) {
									left: 7%;
									font-size: 1.7rem;
									top: .7rem;
								}
							}
	
							.green-circle {
								display: block;
								width: 1.2rem;
								height: 1.2rem;
								background: rgb(16,255,0);
								background: radial-gradient(circle, rgba(16,255,0,1) 78%, rgba(63,140,63,1) 100%);
								border-radius: 100%;
								margin: 0 auto;
							}
						}
						
					}
				}
			}
		}
	}
}



