$main-bg: #202328;
$main-text-color: #0071d9;
$secondary-text-color: #3471aa;

$gray: #9fa4aa;
$dark-gray: #343841;

$light-green: #10ff00;
$dark-green: #3f8c3f;

$block-color: #343841;

$dark-blue: #193655;

$header-hover: #193655;